on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  k6_transpile_bundle_test:
    name: Transpile, bundle and run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: 18
      - run: npm ci
      - run: npm run bundle
      - name: Run local k6 babel test
        uses: grafana/k6-action@v0.3.1
        with:
          filename: dist/optional-chaining-test.js
      - name: Run local k6 npm module test
        uses: grafana/k6-action@v0.3.1
        with:
          filename: dist/faker-test.js